.responsive-img {
  display: block;
  width: 500px;
  height: 500px;
  padding-right: 50px;
}

.long-title {
  font-size: 26px;
  text-align: center;
}

.details-description {
  font-size: 12px;
  text-align: center;
}

.b-popup{
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 18%;
  width:800px;
  height: 700px;
  /*opacity: 0.3;*/
  background-color: #8fb7c9;
  overflow:hidden;
  position:fixed;
  top:0px;
}
.b-popup .b-popup-content{
  background-color: #8fb7c9;
  border-radius:5px;
  display: flex;
  position: relative;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.popup-button {
  background-color: #ffffff;
  color: black;
  width: 130px;
  height: 50px;
  font-size: 16px;
}

body {
  opacity: 0.3;
}
