.responsive-img {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto  ;
}

.long-title {
  font-size: 26px;
  text-align: center;
}

.details-description {
  font-size: 12px;
  text-align: center;
}

.b-popup {
  background-color: seashell;
  top: calc(50vh - 350px);
  left: calc(50vw - 400px);
  position: absolute;
  width: 800px;
  height: 700px;
  padding-top: 30px;
}

  .wrapper {
    background-color: #868686e3;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

.b-popup .b-popup-content{
  border-radius:5px;
  position: relative;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.popup-button {
  background-color: #ffffff;
  color: black;
  width: 130px;
  height: 50px;
  font-size: 16px;
}

body {
  opacity: 0.3;
}
