<ng-container *ngIf="showOutlet">

  <h1 class="title"> Museum Art Objects Gallery</h1>
      <div class="presets">
        <div class="dropdown">
          <button class="dropbtn">Sorting</button>
          <div class="dropdown-content">
            <li (click)="onSort('relevance')">relevance</li>
            <li (click)="onSort('achronologic')">newest first</li>
            <li (click)="onSort('objecttype')">type</li>
            <li (click)="onSort('chronologic')">oldest first</li>
            <li (click)="onSort('artist')">artist</li>
          </div>
        </div>
        <form (submit)="onSearch($event, searchInput.value)">
          <input class="search-field" type="search" #searchInput>
          <button class="search-button" type="submit">Search</button>
        </form>
      </div>
      <div class="custom-grid" *ngIf="artObjects && artObjects.length; else noData">
        <app-art-objects-list-item *ngFor="let artObject of artObjects"
                                   [artObject]="artObject"
                                   (clickedOnImage)="selectArtObject(artObject)">
        </app-art-objects-list-item>
      </div>
      <app-pagination [totalItems]="totalItems"
                      (searchByParams)="findDataByParams($event)">
      </app-pagination>

    <app-art-object-details *ngIf="showModal"
                            [artObjectItem]="selectedArtObjectDetails"
                            (closeModal)="closeModal()">
    </app-art-object-details>
</ng-container>

<ng-template #noData>
  <div>Sorry no data found!</div>
</ng-template>


<router-outlet (activate)="toggleOutlet()" (deactivate)="toggleOutlet()"></router-outlet>
